<?xml version="1.0"?>
<config>
    <modules>
        <Excellence_Slider>
            <version>1.0.1</version>
        </Excellence_Slider>
    </modules>
    <frontend>
        <routers>
            <slider>
                <use>standard</use>
                <args>
                    <module>Excellence_Slider</module>
                    <frontName>slider</frontName>
                </args>
            </slider>
        </routers>
        <layout>
            <updates>
                <slider>
                    <file>slider.xml</file>
                </slider>
            </updates>
        </layout>
        <events>
            <controller_action_layout_generate_blocks_after>
                <observers>
                    <Excellence_Slider>
                        <type>singleton</type>
                        <class>Excellence_Slider_Model_Observer</class>
                        <method>set_block</method>
                    </Excellence_Slider>
                </observers>
            </controller_action_layout_generate_blocks_after>     
        </events>
    </frontend>
    <admin>
        <routers>
            <slider>
                <use>admin</use>
                <args>
                    <module>Excellence_Slider</module>
                    <frontName>slider</frontName>
                </args>
            </slider>
        </routers>
    </admin>
    <adminhtml>
        <menu>
            <designer module="slider">
                <title>Excellence</title>
                <sort_order>71</sort_order>
                <children>
                    
                </children>
            </designer>
        </menu>
        <acl>
            <resources>
                <all>
                    <title>Allow Everything</title>
                </all>
                <admin>
                    <children>
                        <Excellence_Slider>
                            <title>Slider Module</title>
                            <sort_order>10</sort_order>
                        </Excellence_Slider>
                    </children>
                </admin>
            </resources>
        </acl>

        <acl>
            <resources>
                <admin>  <!--This is acl based on URL. If you see URL it would be /admin/system_config/ -->
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <mycustom_tab translate="title" module="slider">  <!-- This is name of the section created by us -->
                                            <title>Slider ACL</title>  <!-- Title as shown in User->Roles->Permissions Window -->
                                            <sort_order>99</sort_order>
                                        </mycustom_tab>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
        <layout>
            <updates>
                <slider>
                    <file>slider.xml</file>
                </slider>
            </updates>
        </layout>
        <events>
            <adminhtml_block_html_before>
                <observers>
                    <Excellence_Slider>
                        <type>singleton</type>
                        <class>Excellence_Slider_Model_Observer</class>
                        <method>adminhtmlBlockHtmlBefore</method>
                    </Excellence_Slider>
                </observers>
            </adminhtml_block_html_before>
        </events>
    </adminhtml>
    <global>
        <models>
            <slider>
                <class>Excellence_Slider_Model</class>
                <resourceModel>slider_mysql4</resourceModel>
            </slider>
            <slider_mysql4>
                <class>Excellence_Slider_Model_Mysql4</class>
                <entities>
                    <slider>
                        <table>slider</table>
                    </slider>
                    <slidermanager>
                        <table>slidermanager</table>
                    </slidermanager>
                </entities>
            </slider_mysql4>
        </models>
        <resources>
            <slider_setup>
                <setup>
                    <module>Excellence_Slider</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </slider_setup>
            <slider_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </slider_write>
            <slider_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </slider_read>
        </resources>
        <blocks>
            <slider>
                <class>Excellence_Slider_Block</class>
            </slider>
        </blocks>
        <helpers>
            <slider>
                <class>Excellence_Slider_Helper</class>
            </slider>
        </helpers>
    </global>
</config>